<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>API Router</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
  <section class="section">
    <p>Possible end points: </p>
    <p>api/users</p>
    <p>/:user_id</p>
    <br/>
    <p>api/topics</p>
    <p>/:topic_slug/articles</p>
    <br/>
    <p>api/articles</p>
    <p>/:article_id</p>
    <p>/:article_id/comments</p>
    <p>/api/articles/:article_id?vote=down</p>
    <br/>
    <p>api/comments</p>
    <p>/:comment_id</p>
  </section>
</body>

</html>